{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Book store</h1>
    {% for book in booklist %}
    <img src="{{book.image.url}}" alt="image of a book">
    <h3>{{ book.title }}</h3>
    <h2>{{ book.author }}</h2>
    <h4>{{ book.price }}</h4>

    {% endfor %}
    
</body>
</html>